<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PRISMConnectionString" connectionString="Server=Thando-LT\SQLEXPRESS;Database=PRISM;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<add name="PRISMTestConnectionString" connectionString="Server=Thando-LT\SQLEXPRESS;Database=PRISM_Test;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>